.container {
	display: flex;
	gap: 5px;
	align-items: center;
}

.stars {
	height: 22px;
	width: 75px;
}

.easy {
	background-image: url('../../../assets/img/starsEasy.svg');
}

.medium {
	background-image: url('../../../assets/img/starsMedium.svg');
}

.hard {
	background-image: url('../../../assets/img/starsHard.svg');
}
